.slideBar::-webkit-scrollbar {
  width: 5px;
}

.slideBar::-webkit-scrollbar-track {
  color: white;
}

.slideBar::-webkit-scrollbar-thumb {
  @apply h-2;
  @apply bg-[#b1b6e4];
  @apply rounded-full;
}

.emoji em-emoji-picker {
  width: 100% !important;
  height: 17rem !important;
}

.emoji em-emoji-picker section {
  width: 100% !important;
  height: 17rem !important;
}
